@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    transition: all .4s;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --green: rgb(20, 219, 20);
    --greenHover: rgb(16, 175, 16);
}

/* BARRA DE NAVEGAÇÃO */

.nav-item a{
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 15px;
}

.nav-item a:hover{
    color: var(--green);
}

.navbar-brand{
    height: 50px;
    width: 100px;
}

.search{
    height: 45px;
    border: solid 2px var(--green);
    background-color: transparent;
    border-radius: 20px 0 0 20px;
    border-right: none;
}

.btn1{
    height: 45px;
    border: none;
    background-color: var(--green);
    color: white;
    border-radius: 0 20px 20px 0;
}

.btn1:hover{
    background-color: var(--greenHover);
    font-size: 18px;
}

.bi-bag-check{
    font-size: 30px;
    color: black;
    cursor: pointer;
    padding-top: 5px;

}

.bi-bag-check:hover{
    color: var(--green);
}

.navbar-toggler{
    font-size: 23px;
    color: black;
}

.navbar-toggler:hover{
    box-shadow: none;
}

header{
    width: 100vw;
    padding-bottom: 10px;
    background: white;
}

/* MAIN/HOME */

.main{

    background: url(../img/m1.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main .container{
    padding-top: 100px;
}

.main h1{
    font-size: 5rem;
    font-family: 'Righteous', cursive;   
}

.main p:nth-child(1){
    font-size: 20px;
    font-weight: 500;    

}

.main p:nth-child(4){
    font-size: 18px;  
    color: grey;
    width: 60%;
}


.mbtn1{
    height: 50px;
    width: 25%;
    border: none;
    color: white;
    background: var(--green);
    border-radius: 50px;
}

.mbtn1:hover{
    background: var(--greenHover);
    font-size: 20px;
}

.mbtn2{
    height: 50px;
    width: 25%;
    border: 1px solid var(--green);
    color: var(--green);
    background: transparent;
    border-radius: 50px;
}

.mbtn2:hover{
    border: none;
    color: white;
    background: var(--green);
    font-size: 20px;
}

.line{
    height: 6px;
    width: 30%;
    background: var(--green);
    display: inline-block;
    border-radius: 6px;
}

/* SOBRE */

.about{
    background: url(../img/abut.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 5vh;
}

.about h1{
    font-size: 3rem;
    font-family: 'Righteous', cursive;   
}

.about p:nth-child(1){
    font-size: 18px;
    font-weight: 500;    
}

.about p:nth-child(4){
    font-size: 18px;  
    color: grey;
}

/* BEM-VINDO */

.wellcome{
    background: var(--green);
}

.line2{
    height: 6px;
    width: 30%;
    background-color: white;
    display: inline-block;
    border-radius: 6px;
}

.wellcome h1{
    font-size: 3rem;
    font-family: 'Righteous', cursive;  
    color: white; 
}

.wellcome p:nth-child(1){
    font-size: 18px;
    font-weight: 500; 
    color: white;    
}

.wellcome p:nth-child(4){
    font-size: 18px;  
    color: white;
}

.wellcome .card{
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.wellcome i{
    font-size: 45px;
    color: var(--green);
}

.wellcome i{
    font-weight: lighter;
    padding: 10px 0;
}


/* PRODUTOS */
.products h1{
    font-size: 3rem;
    font-family: 'Righteous', cursive;   
}

.products p:nth-child(1){
    font-size: 18px;
    font-weight: 500;    
}

#kg{
    font-size: 18px;  
    color: grey;
}

.star i{
    text-align: end;
    color: orange;
}

.product .card{
    border-radius: none;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
}

.product .card-body{
    border: 1px dashed rgb(190, 185, 185);
}

.head1{
    font-weight:500;
    margin: 0;
}

.btnc{
    height: 50px;
    width: 75%;
    border: none;
    color: white;
    background: var(--green);
    border-radius: 50px;
    margin: 0 auto;
    display: block;
}

.btnc:hover{
    width: 85%;
    border: 1px solid var(--green);
    color: var(--green);
    background: transparent;
    border-radius: 50px;
    font-size: 18px;
}

.card-plus{
    height: 100%;
}
.card-body-plus{
    border: 1px dashed rgb(190, 185, 185);
    height: 100%;
    width: 100%;
}

.plus{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

.plus i{
    
    color: var(--green);
    
}

.plus:hover > i{
    font-size: 200px;
}

/* DISCONTO */

.discount{
    color: white;
    background: var(--green);
}

.discount h1{
    color: white;
}

.discount .head1 span{
    color: white;
    font-weight: 300;
}

.discount .head1 span i{
    color: white;
}

.dbtn{
    height: 50px;
    width: 75%;
    border: none;
    color: black;
    background: white;
    border-radius: 50px;
    margin: 0 auto;
    display: block;

}

.dbtn:hover{
    background-color: rgb(209, 209, 209);
}

/* SERVIÇOS */
.services h1{
    font-size: 3rem;
    font-family: 'Righteous', cursive;   
}

.services p:nth-child(1){
    font-size: 18px;
    font-weight: 500;    
}

.services p:nth-child(4){
    font-size: 18px;  
    color: grey;
}

.services i{
    font-size: 45px;
}

.services .card{
    border-radius: none;
    border: none;
    cursor: pointer;
}

.services .card:hover{
    background: var(--green);
}

.services .card:hover i, .services .card:hover h5, .services .card:hover .per1{
    color: white;
}

/* CONTATOS */

.contact{
    background: url(../img/cont.jpg) no-repeat;
    background-size: cover;
    width: 100%;
}

.contact h1{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.contact p{
    color: white;
}

.circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: white;
    color: black;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;

}

.contact input{
    height: 40px;
    width: 100%;
    border: none;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
}

.contact textarea{
    height: 100px;
    width: 100%;
    border: none;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
}

.cbtn{
    height: 50px;
    width: 100%;
    border: none;
    color: black;
    background: white;
    border-radius: 50px;

}

.cbtn:hover{
    background: rgb(209, 209, 209);
}

footer{
    margin: 20px;
}

footer p{
    color: black;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: var(--green);
}